<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-list">
			  <li class="nav-header">Rutkin & Wolf PLLC</li>
			  <li><%= link_to "Home", root_path %></li>
			  <li><%= link_to "Contact Us", contact_path %></li>
				<li><%= link_to "Attorney Profiles", "/attorney-profiles" %></li>
					<li class="divider"></li>
				<li class="nav-header">Areas of Practice</li>
			  <li><%= link_to "Real Estate", "/real-estate" %></li>
			  <li><%= link_to "Will & Trusts", "/will-and-trusts" %></li>
				<li><%= link_to "Estates - Probate & Administration", estates_path %></li>
				<li><%= link_to "Labor Law", "/labor-law" %></li>
				<li><%= link_to "Divorce", divorce_path %></li>
				<li><%= link_to "Employment Discrimination", "/employment-discrimination" %></li>
				<li><%= link_to "Litigation", "/litigation" %></li>
				<li><%= link_to "Family Law", "/family-law" %></li>
				<li><%= link_to "Business Law", "/business-law" %></li>
			</ul>
    </div>
    <div class="span10">
      	<h3>Business Law</h3>
		<p>Please follow the link to the <%= link_to "contact page", contact_path %> with any questions you may have regarding business law.</p>
    </div>
  </div>
</div>