<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-list">
			  <li class="nav-header">Rutkin & Wolf PLLC</li>
			  <li><%= link_to "Home", root_path %></li>
			  <li><%= link_to "Contact Us", contact_path %></li>
				<li><%= link_to "Attorney Profiles", "/attorney-profiles" %></li>
					<li class="divider"></li>
				<li class="nav-header">Areas of Practice</li>
			  <li><%= link_to "Real Estate", "/real-estate" %></li>
			  <li><%= link_to "Will & Trusts", "/will-and-trusts" %></li>
				<li><%= link_to "Estates - Probate & Administration", estates_path %></li>
				<li><%= link_to "Labor Law", "/labor-law" %></li>
				<li><%= link_to "Divorce", divorce_path %></li>
				<li><%= link_to "Employment Discrimination", "/employment-discrimination" %></li>
				<li><%= link_to "Litigation", "/litigation" %></li>
				<li><%= link_to "Family Law", "/family-law" %></li>
				<li><%= link_to "Business Law", "/business-law" %></li>
			</ul>
    </div>

    <div class="row-fluid">
    <div class="span10 text-center">
     	<h3>Need to get in contact with us?</h3>
				<div class="row-fluid">
					<div class="span4 text-center">
						<br>Bronx Office</br>
						<br>910 Grand Concourse
						<br>Suite 1F
						<br>Bronx, NY 10451
						<br>(718) 410-0653
				</div>
					<div class="span4 text-center">
						<br>Westchester Office</br>
						<br>203 E. Post Road
						<br>White Plains, NY 10601
						<br>(914) 358-5333</br>
					</div>
					<div class="span4 text-center">
						<br>Manhattan Office</br>
						<br>(917) 478-9068
						<br>By Appointment Only</br>
					</div>
			</div>	  
			<div class="row-fluid">
					<div class="span12">
					<p></p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 text-center">
					<p>Have a question? Feel free to contact us below. Fill out your contact information and a small description, and we will contact you as soon as possible.</p>
					</div>
				</div>
    </div>
  </div>
</div>